:root {
    --special_color: rgb(0, 120, 255);
    --like_button : #FF2768;
}

.form-control:focus,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

#offcanvasButton:focus{
    border-color: none !important;
}

#ul1{
    display: flex;
    align-items: center;
}

#ul2 .nav-item {
    text-transform: capitalize;
}

#ul2 .nav-item .nav-link:hover {
    color: var(--special_color);
}

#ul2 .nav-item .nav-link:focus{
    color: var(--special_color);
}

header{
    background-color: #fff;
}

.nav1 {
    /* background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    /* background-color: #fff; */
    font-weight: bold;
}

.dropdown .dropdown-menu a:hover {
    background-color: var(--special_color) !important;
    color: white !important;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-menu {
    border: none;
}

.form-select{
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid var(--special_dark-color);
    background-color: #fcfcfc;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#ul2 .bi-bell{
    font-size: 18px;
}

.form-select:focus{
    border-bottom: 2px solid var(--special_color);
}

.btn-close:focus, .form-select:focus{
    box-shadow: none !important;
    outline: none !important;
}

.alert{
    background-color: var(--special_dark-color);
    border: 1px solid black;
    display: flex;
    width: max-content;
    font-weight: 600;
    margin: auto;
    color: white;
    justify-content: space-between;
}

.alert .btn{
    background-color: white;
    margin-left: 5px;
    border-radius: 50px;
    padding: 5px;
    color: white;
}

#acceptButton{
    background-color: var(--special_color);
    color: #fff;
}

#acceptButton:hover{
    background-color: #fff;
    border: 1px solid black;
    color: black;
}

#signup {
    background-color: var(--special_color);
    color: white;
    border-radius: 4px;
}

#signup:hover {
    background-color: white;
    color: var(--special_color);
}

.offcanvas,
.offcanvas .list-group-item {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

.offcanvas-body .list-group .list-group-item {
    border: none;
    color: black;
    border-radius: 0;
    text-transform: capitalize;
}

.offcanvas-body .list-group .list-group-item:hover {
    background-color: var(--special_color);
    color: white;
}

.offcanvas-body .btn {
    border: 1px solid black;
    text-transform: capitalize;
}

.offcanvas-body #login {
    color: black;
    background-color: whitesmoke;
}

.offcanvas-body #signupButton {
    color: black;
    background-color: var(--special_color);
}

#imgAcc {
    border: 1px solid black;
    border-radius: 50px;
}

#btnClose {
    background-color: #880000;
    color: white !important;
}

#upload_button{
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

#ul2{
    gap: 7px;
}

#offcanvasButton svg {
  color: var(--special_color);
  cursor: pointer;
  transition: 0.3s;
}
#offcanvasButton svg:hover {
  color: black;
  transform: rotate(10deg);
}