@font-face {
    font-family: "Outfit";
    src: url("Outfit/Outfit-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("Outfit/Outfit-VariableFont_wght.ttf");
    font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    /* --special_color: rgb(244,162,97);
    */--special_dark-color: rgb(46,46,46);
    --special_color: rgb(0, 120, 255);
    /*--special_dark-color: white;*/
}

body[id="signup_page"]{
    background-image: url("outils/backgrounds/background_pixora_1.jpg");
}

body[id="login_page"] {
    background: linear-gradient(280deg,rgb(0,120,255),rgb(0, 54, 115));
}

body{
    margin: 0;
    font-family: "Outfit","sans-serif";
    font-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-control:focus , .btn:focus{
    outline: none !important; 
    box-shadow: none !important;
    border: none;
}

.dv1 {
    background: rgba(255, 255, 255, 0.836);
    backdrop-filter: blur(30px);

    display: flex;
    color: white;
    /*     justify-content: center;
    align-items: center;*
    flex-direction: column;*/
}

.login-box{
    color: black;
    width: 100%;
    /* max-width: 400px; */
    flex: 1;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    /* flex-direction: column;*/
    align-items: center;
    /*border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 3px 3px 1px 0px black;
    font-weight: 600;*/
    margin: auto;
    height: 100vh;
    padding: 20px;
}

.login_div{
    background-image: url("outils/jpg/Photographe1.png");
}

.signup_div{
    background-image: url("outils/jpg/photographe3.png");
}

.dv1-0 {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

.dv1-0 div{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    position:absolute;
    top: 50%;
    bottom: 50;
    left: 5%;
    font-size: 30px;
    font-weight: 600;
}

.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--special_dark-color);
    padding: 10px;
}

.form-control::placeholder{
    opacity: calc(0.7);
}

.form-label{
    margin-left: 2px;
}

.form-control:focus{
    border-bottom: 2px solid var(--special_color);
}

.form-check-input:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
}

.form-check-input{
    border: 1px solid black;
}

.form-check-input:checked{
    background-color: var(--special_color);
}

#signupButton{
    background-color: var(--special_color);
    color: white;
}

#signupButton:hover{
    background-color: white;
    color: var(--special_color);
}

@media only screen and (max-width: 768px) {
    .dv1 {
        margin: auto;
        padding: 0;
    }

    .dv1-1 {
        margin: auto;
        padding: 0;
    }

    .dv1-0{
        display: none;
    }

    .dv1-1 input,
    .dv1-1 button {
        font-size: 14px;
        padding: 10px;
    }
}