@font-face {
    font-family: "Outfit";
    src: url("Outfit/Outfit-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("Outfit/Outfit-VariableFont_wght.ttf");
    font-weight: bold;
}

:root {
    --special_color: rgb(244, 162, 97);
    --special_dark-color: rgb(46, 46, 46);
}

body {
    margin: 0;
    font-family: "Outfit", "sans-serif";
    font-size: 16px;
    /* background-image: url("outils/backgrounds/back5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background: linear-gradient(135deg, #ffb04f, rgb(242, 133, 1));
    /* background-color:rgb(46, 46, 46); */
}

header {
    background-color: white;
}

.form-control:focus,
.btn:focus, .form-select:focus {
    box-shadow: none;
    outline: none;
}

#imgAcc {
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
}

.card{
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.959);
    backdrop-filter: blur(20px);
}

.card-body h1{
    color: var(--special_dark-color);
    font-weight: bolder;
}

.form-control {
    border: none;
    border-bottom: 3px solid black;
    background-color: #f0f0f0;
}

.form-select{
    border: none;
    border-bottom: 3px solid var(--special_dark-color);
}

.form-select:focus{
    border-bottom: 3px solid var(--special_color);
}

.form-control:focus{
    background-color: #f0f0f0;
    border-bottom: 3px solid var(--special_color);
}

.form-control::placeholder{
    opacity: calc(0.8);
}

#upload{
    padding: 50px;
    border: 2px dashed var(--special_dark-color);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}

#upload p{
    font-weight: 600;
}

#file_selected{
    background-color: var(--special_color);
    padding: 10px;
    color: white;
    display: none;
}

.form-label{
    font-weight: 600;
    margin-left: 5px;
}

#uploadButton{
    background-color: var(--special_dark-color);
    color: white;
    width: 100%;
}

#uploadButton:hover{
    background-color: white;
    color: var(--special_dark-color);
    border: 1px solid var(--special_dark-color);
}